.toolbar {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.toolbarItem {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
}
