.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  display: inline-flex;
  align-items: center;

  img {
    vertical-align: top;
  }

  .siteName {
    font-size: 24px;
    border-left: 1px solid rgba(204, 204, 204, 0.616);
    padding: 2px 10px 0;
    margin-left: 10px;
    pointer-events: none;
    user-select: none;
    font-weight: 300;
    text-shadow: 1px 1px 0px #242424;
  }
}
