.container {
  padding: 30px 20px 20px;

  .header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 10px;


    .pinIcon {
      cursor: pointer;
      width: 20px;
      height: 20px;
      transition: all 0.3s ease;
      opacity: 0.6;
      color: var(--text-primary);
      

      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }

      &.locked {
        opacity: 1;
        color: rgba(255, 255, 255, 0.8);
        transform: scale(1.1) rotate(-45deg);
      }
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    flex-direction: column-reverse;

    .image {
      position: absolute;
      margin: auto;
      vertical-align: top;

      &:nth-child(1) {
        transform: rotate(5deg);
      }

      &:nth-child(2) {
        transform: rotate(-5deg);
      }

      &:nth-child(3) {
        transform: rotate(10deg);
      }

      &:nth-child(4) {
        transform: rotate(-10deg);
      }

      &:nth-child(5) {
        transform: rotate(15deg);
      }

      &:nth-child(6) {
        transform: rotate(-15deg);
      }

      &:last-child {
        transform: rotate(0deg);
      }

      img {
        max-width: 100%;
        max-height: 200px;
        border-radius: 8px;
        box-shadow: 6px 6px 10px 0px rgb(0 0 0 / 32%);

      }
    }
  }

}